@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as *;
@use '../abstracts/functions' as *;

.Btn{
  @include flex-col;
  justify-content: center;
  width: em(204);
  height: em(49);
  color: $white;
  font-size: em(14.4);
  line-height: em(14.4);
  background-color: $cherry-red;
  border: none;
  border-radius: 10px;
  transition: all 0.15s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: black;
  }

  @include breakpoint(medium) { 
    font-size: em(12.4);
    line-height: em(12.4);
  }
}