@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/fonts' as *;

.Logos{
  @include flex-row;
  width: calc(em(1920) - em(540));
  height: em(77);

  &__container {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    height: em(77);

    @include breakpoint(medium) {
      max-width: em(751);
      gap: em(75);
      padding-left: em(70);
      animation: anime 9s linear infinite;
    }
  }

  &__logo{
    @include flex-col;
    justify-content: center;
    width: em(135);
    height: em(45);
  }

  @include breakpoint(xlarge) {
    width: em(980);
  }

  @include breakpoint(large) {
    width: em(730);
  }

  @include breakpoint(medium) {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

@keyframes anime {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(em(-805), 0, 0);
  }
}